common --lockfile_mode=error
common --@rules_python//python/config_settings:incompatible_default_to_explicit_init_py=true

build --workspace_status_command="python3 ./tools/workspace_status.py"
build --repository_cache=~/.gerritcodereview/bazel-cache/repository
build --incompatible_strict_action_env
build --action_env=PATH
build --disk_cache=~/.gerritcodereview/bazel-cache/cas

# Builds using remotejdk_25, executes using remotejdk_25 or local_jdk
build --java_language_version=25
build --java_runtime_version=remotejdk_25
build --tool_java_language_version=25
build --tool_java_runtime_version=remotejdk_25

test --build_tests_only
test --test_output=errors
