[project]
	description = A simple browser for Git repositories
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
[access "refs/*"]
	owner = group google/gitiles-maintainers@googlegroups.com
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gitiles-maintainers@googlegroups.com
	label-Verified = -1..+1 group gerrit-verifiers
	label-Verified = -1..+1 group google/gitiles-maintainers@googlegroups.com
	submit = group google/gitiles-maintainers@googlegroups.com
	create = group google/gitiles-maintainers@googlegroups.com
[access "refs/tags/*"]
	pushTag = group google/gitiles-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
[commentlink "ph"]
	match = "([Bb]ug|[Ii]ssue):?\\s*#?(\\d+)"
	link = https://code.google.com/p/gitiles/issues/detail?id=$2
