[project]
	description = A simple browser for Git repositories
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
[access "refs/*"]
	owner = group google/gitiles-maintainers@googlegroups.com
	owner = group mdb/gerritcodereview-eng
	removeReviewer = group google/gitiles-maintainers@googlegroups.com
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gitiles-maintainers@googlegroups.com
	#label-Library-Compliance = -1..+1 group gerrit-lib # FIXME: Needs to be uncommented by someone who can see this group
	label-Library-Compliance = -1..+0 group google/gerritcodereview-maintainers@googlegroups.com
	removeReviewer = group google/gerritcodereview-maintainers@googlegroups.com
	removeReviewer = group google/gitiles-maintainers@googlegroups.com
	submit = group Change Owner
	submit = group google/gitiles-maintainers@googlegroups.com
	create = group google/gitiles-maintainers@googlegroups.com
	forgeAuthor = group google/gitiles-maintainers@googlegroups.com
[access "refs/tags/*"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gitiles-maintainers@googlegroups.com
	createTag = group google/gerritcodereview-maintainers@googlegroups.com
	createTag = group google/gitiles-maintainers@googlegroups.com
	createSignedTag = group google/gerritcodereview-maintainers@googlegroups.com
	createSignedTag = group google/gitiles-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
[access "refs/for/refs/meta/config"]
	push = group Project Owners
	pushMerge = group Project Owners
[access "refs/meta/config"]
	read = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	submit = group Project Owners
[reviewer]
	enableByEmail = true
[label "Library-Compliance"]
	function = NoBlock
	value = -1 Do not submit
	value = 0 No score
	value = +1 Approved
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
[submit-requirement "Library-Compliance"]
	description = Changes to specific library/metadata files require additional approval
	applicableIf = -branch:refs/meta/config AND (file:\"^lib/.*\" OR file:\"^WORKSPACE.*$\" OR file:\"^MODULE.bazel$\" OR file:\"^.gitmodule$\" OR file:\"^maven_install.json$\")
	submittableIf = label:Library-Compliance=MAX AND -label:Library-Compliance=MIN
	canOverrideInChildProjects = false
[commentlink "ph"]
	match = "([Bb]ug|[Ii]ssue):?\\s*#?(\\d+)"
	link = https://github.com/google/gitiles/issues/$2
