[project]
	description = A simple browser for Git repositories
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
[access "refs/*"]
	owner = group google/gitiles-maintainers@googlegroups.com
	owner = group mdb/gerritcodereview-eng
	removeReviewer = group google/gitiles-maintainers@googlegroups.com
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gitiles-maintainers@googlegroups.com
	label-Verified = -1..+1 group Registered Users
	removeReviewer = group google/gerritcodereview-maintainers@googlegroups.com
	removeReviewer = group google/gitiles-maintainers@googlegroups.com
	submit = group google/gitiles-maintainers@googlegroups.com
	create = group google/gitiles-maintainers@googlegroups.com
	forgeAuthor = group google/gitiles-maintainers@googlegroups.com
	push = +force group google/gitiles-maintainers@googlegroups.com
	pushMerge = group google/gitiles-maintainers@googlegroups.com
[access "refs/tags/*"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gitiles-maintainers@googlegroups.com
	createTag = group google/gerritcodereview-maintainers@googlegroups.com
	createTag = group google/gitiles-maintainers@googlegroups.com
	createSignedTag = group google/gerritcodereview-maintainers@googlegroups.com
	createSignedTag = group google/gitiles-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
[access "refs/for/refs/meta/config"]
	push = group Project Owners
	pushMerge = group Project Owners
[access "refs/meta/config"]
	read = group Project Owners
	push = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	submit = group Change Owner
	submit = group Project Owners
[reviewer]
	enableByEmail = true
[commentlink "ph"]
	match = "([Bb]ug|[Ii]ssue):?\\s*#?(\\d+)"
	link = https://github.com/google/gitiles/issues/$2
