[gitiles]
siteTitle = Gitiles proxied behind /g

# See proxied-apache.conf
canonicalHostName = gitiles.local
canonicalPath = "/g"

# Change the DevServer contextPath to emulate gitiles being served by Gerrit as
# a servlet.
contextPath = "/plugins/gitiles"

# Those are mostly for display purpose
baseGitUrl = git://git.local
gerritUrl = http://gerrit.local/r/
